<!doctype html>
<html>
    <head>
        <title>git2svn</title>
		<script src="/js/socket.io.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function(event) {
				var socket = io();
				var ul = document.getElementById('data');

			    socket.on('data', function(data) {
					console.log(data);
					var li = document.createElement('li');
					li.innerText = data;
					ul.appendChild(li);
				});
			});
		</script>
    </head>
    <body>
        <header>
            <h1><a href="/">svn2git</a></h1>
        </header>

        <section class="main-content">
			<ul id="data">
			</ul>
        </section>

        <footer>
        </footer>
    </body>
</html>
